body{  
    font-family: 'Georgia', serif;
    background-color: aliceblue;
    padding: 40px;
    line-height: 1.8;
}

h1{
    font-family: 'arial', sans-serif;
    font-size: 36px;
    font-weight: 900px;
    text-align: center;
    text-transform: uppercase;
    color: blue;
    
}

h2{
    font-family: 'Georgia', serif;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    text-transform: capitalize;
    color: #7f8c8d;
    font-style: italic;
}

p{
     font-family: 'Verdana', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    text-transform: none;
    color: #34495e;
}
